*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:"CLEANVEL";
}
h1, h2, h3, h4{
    width: 100%;
    height: 40px;
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    font-family:"CLEANVEL";
    padding: 5px;
    box-sizing: border-box;
}
:root{
    --index:calc(1vw + 1vh);
}

@font-face {
    font-family:"CLEANVEL";
    src:url("fonts/CLEANVEL.TTF");
    font-display: swap;
    font-style: normal;
}

/*---------------------------------------------------------------- Боковое меню и PopUp ---------------------------*/
.fon_popUp, .fon_aside_menu{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.8);
    z-index: 150;
}
.bl_consult{
    width: 485px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}
.block_form{
    width: 100%;
}
.block_form input{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.block_form .btn_form{
    height: 50px;
}
#textSizeArea{
    width: 100%;
    height: 150px;
}


.wrap_aside_menu{
    display: flex;
    width: 450px;
    height: 100%;
    background: white;
}
.bl_aside_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 725px;
    background: white;
}
.aside_menu_head, .headConsl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    background: white;
    cursor: default;
}.headConsl{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.headConsl p{
    font-size: 28px;
    width: 80%;
    text-align: center;
}

.aside_menu_head img, .headConsl img, .wrap_logo img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.block_btn_close img{
    width: 30px;
    height: 30px;
}


.wrap_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
}
.wrap_logo p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.aside_menu_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 340px;
}

.wrap_btns{
    width: 400px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 0.7px solid rgb(209, 209, 209);
    background: white;
    transition: border 0.4s;
    font-size: 23px;
    color: rgb(107, 107, 107);
    cursor: pointer;
}
.wrap_btns:hover{
    font-weight: bold;
    border: 0.7px solid rgb(209, 209, 209);
    border-left: 5px solid #122542;
}


.aside_menu_footer { /*####*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #122542;
    color: white;
}
.aside_adress p:first-child {
    border-bottom: 1px solid white;
    padding: 5px;
}

.aside_socLink {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.aside_socLink img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/*--------------------------------------------------------*/








.btn_call{
    display: none;
    position: fixed;
    right: -60px;
    top: 400px;
    background-color: #D84949;
    color: white;
    width: 175px;
    height: 45px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transform: rotate(90deg);
    z-index: 50;
}


.wraper{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
#head_1{ /*####*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    background: rgb(18, 40, 61);
    padding: 15px;
    box-sizing: border-box;
    transition: background 1s;
    cursor: default;
}
#head_1:hover{
    background: rgb(12, 28, 42);
}


.menuB{
    width: 25%;
}
.btn_menu{
    width: 45px;
    height: 30px;
    cursor: pointer;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    padding: 10px;
}
.logo img{
    width: 35px;
    height: 32px;
}

.logo p{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 50px;
    color: white;
}
.adress_head{
    width: 125px;
    height: 110px;
}
.soc_head {
    display: flex;
    width: 125px;
    justify-content: space-around;
}
.soc_head img{
    width: 30px;
    height: 30px;
}

#main_1{
   display: flex;
   width: 100%;
   height: 570px;
   overflow: hidden;
}
.panin{
    width: 55%;
}
.bl_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 550px;
    padding: 10px;
}
.bl_about p{
    font-size: calc(var(--index) * 1.2);
    width: 90%;
    height: 320px;
    padding: 10px;
}
.btn_pan, .btn_form, .btn_expert, .btn_ask{
    background-color: #D84949;
    color: white;
    width: 90%;
    height: 55px;
    border: none;
    cursor: pointer;
    transition: background 1s;
    font-size: 20px;
    border-radius: 3px;
}
.btn_pan:hover, .btn_form:hover, .btn_expert:hover, .btn_ask:hover{
    background-color: #c10000;
}
.btn_ask{
    width: 200px;
}
.btn_form{
    width: 418px;
    height: 45px;
    margin-top: 20px;
}
.btn_expert{
    width: 100%;
    height: 43px;

}



/*---------------------------------------------------------------------------------------------------------*/
.Block_1{ /*####*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 637px;  
    background-image: url("media/fon.png");
    background-repeat: no-repeat;
    background-size: 120% auto;
}
.group_btn{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    width: 1130px;
    height: 430px;
    margin-top: 85px;
}
.btn_serv, .btn_tema, #btn_exp_ask, .btn_feed{
    width: 320px;
    height: 100px;
    background: #2A3E5C;
    box-shadow: 0px 3px 42px rgba(0, 186, 229, 0.28);
    border-radius: 6px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: background 0.9s;
}

.btn_serv:hover, .btn_tema:hover, #btn_exp_ask:hover{
    background: #D84949;
}
.btn_feed{
    width: 478px;
    height: 40px;
}

/*--------------------------------------------------------------------------*/


.Block_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 650px;  
}

.block_succ_1, .block_succ_2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px; 
}.block_succ_2{
    width: 98%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 1s;
    width: calc(98% / 3);
    background-repeat: no-repeat;
    background-size: 100% 300px;
}.box:hover{
    width: 35%;
}
.box p{
    width: 100%;
    height: auto;
    background: rgba(16, 36, 55, 0.7);
    color: white;
    padding: 5px;
    box-sizing: border-box;
}.box p a{
    color: white;
    text-decoration: underline;
}
.box p span{/*-------------------------------------------------------------------------------------------------------------------------*/
    font-size: 13px;
}
.box_1 { background-image: url("media/sud1.jpg");}
.box_2 { background-image: url("media/sud2.jpg");}
.box_3 { background-image: url("media/sud3.webp");}
.box_4 { background-image: url("media/sud4.webp");}
.box_5 { background-image: url("media/sud5.jpg");}
.box_X{
    display: none;
    box-shadow: 0px 3px 42px rgb(0 186 229 / 28%);
}





/*--------------------------------------------------------------------------*/
.Block_3{ /*####*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
}
.bl_expert_1, .bl_expert_2{ /*####*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
.experts{
    display: flex;
    width: 485px;
    height: 220px;
    padding: 10px;
    background: #FCF6F6;
    box-shadow: 0px 4px 32px rgba(58, 156, 247, 0.4);
    border-radius: 4px;
}
.experts img{
    width: 165px;
    height: 215px;
    border-radius: 7px;
}
.exp_text{
    padding: 10px; 
}




/*------------------------------------------------------------------------*/
.Block_5{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: auto;
}
#btn_exp_ask{
    display: none;
}

.block_ask{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.bl_ask{
    width: 32%;
    height: auto;
}
.mod_ask2{
    border-right: 2px solid #12305e;
    border-left: 2px solid #12305e;
}
.bl_ask p{
   margin-top: 10px;
   border-bottom: 1px solid;
   text-align:center;
   cursor: pointer;
   transition: background 1s;
   font-size: calc(var(--index) * 0.7);
}
.bl_ask p:hover{
    background-color: #12305e;
    color: white;
}
.bl_ask p a{
    color: black;
}
.bl_ask p a:hover{
    color: white;
}




/*------------------------------------------------------------------------*/
#footer_main { /*####*/
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #1D1B1B;
    color: white;
}
.wrap_foter{ /*####*/
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.menu_foter{
    width: 30%;
    height: 260px;
}
.menu_foter ul{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    font-size: 21px;
}
.menu_foter ul li{
    font-size: 17px;
    margin-top: 10px;
    color: white;
}
.logo_foter{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:end;
    font-size: 17px;
}
.logo_foter img{
    width: 50px;
    height: 50px;
}
.contacts_foter{
    display: flex;
    width: 30%;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    height: 120px;
}
.links img{
    width: 30px;
    height: 30px;
}
.adress{
    font-size: 21px;
    width: 80%;
    height: 180px;
}
.adress p{
    font-size: 17px;
    line-height: 30px;
}
